.block {
    min-height: 470px;
    background-color: #f6f6f6;
    padding: 70px 0 78px 0;
    text-align: center;
    
    &__con {
        max-width: 1164px;
    }
    
    &__title {
        color: #0d0d0d;
        font-size: 30px;
        font-weight: 700;
        text-transform: uppercase;
        }
    
    &__row {
        margin-top: 65px;
        padding: 0 0 0 0;
            :nth-child(1) {
                :nth-child(3) {
                    padding: 0 9px 0 9px;
                }            
            }
            :nth-child(2) {
                :nth-child(3) {
                    padding: 0 58px 0 58px;
                }
            }
            :nth-child(3) {
                :nth-child(3) {
                    padding: 0 10px 0 10px;
                    a {
                        color: #ff0000;
                    }
                }
            }
    }

    &__txt {
        margin-top: 38px;
        color: #0d0d0d;
        font-size: 18px;
        font-weight: 700;
    }

    &__subtxt {
        margin-top: 25px;
        color: #0d0d0d;
        font-size: 14px;
        font-weight: 400;
    }
}