.block {
    min-height: 470px;
    background-color: #f6f6f6;
    padding: 70px 0 78px 0;
    
    &__title {
        color: #0d0d0d;
        font-size: 30px;
        font-weight: 700;
        text-transform: uppercase;
        }
    
    .container {
        text-align: center;
        max-width: 1200px;
    }

}